<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    <link rel="stylesheet" type="text/css" href="/UndergradMap/static/styles/errors.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>
<body>
    <div class = "error-cover-page-background">
        <div class = "error-page-text">
            <h1>Oops!</h1>
            <h2>Something unexpected occurred.</h2>
            <p><a href="{{ url_for('UndergradMap') }}">Head back</a> to the homepage to restart.</p>
        </div>
    </div>
</body>
</html>