/* styles for the front-page*/
/* styles for the 'see tutorial' button*/
/* styles for the 'required courses' button, re-used from the 'see tutorial' button*/

.cover-page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.umsl.edu/new-home/files/images/tour-2023.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 10em 6em #000;
  overflow: hidden;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 30px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px;
  height: 650px;
}
.form-container img {
  width: 300px;
  display: block;
  margin: auto;
}
.form-container input[type = submit]{
  border: 1px solid black;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 45%;
}
.form-container input[type = submit]:hover{
  transition: 0.5s;
  color: lightgray;
  background-color: #a80b2d;
}
.form-container input[type = "text"]{
  display: inline-block;
  width: 140px;
  vertical-align: top;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
.form-container label, .form-container-2 label {
  display: inline-block;
  width: 250px;
}
.form-container select, .form-container-2 select {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

/* front page re-design with multiple containers */
/* form initially does not display*/
.second-form{
  display: none;
}

/* styles for form display when clicked*/
.form-container-2{
  display: inline;
  color: black;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.9);.
  transition: background-color 1s;
  border-radius: 20px;
  padding: 30px;
  font-family: "Roboto Condensed", sans-serif;
  width: 420px;
}

/* buttons */
.buttons{
  display: flex;
  justify-content: center;
}

/* hide the boxes*/
#starting_credits{
  display: none;
}
#total_credits_id{
  display: none;
}

/* styles for the 'see tutorial' button*/
/* this was reused for the 'required courses progress' button as well*/
.help{
  display: flex;
  justify-content: center;
  align-items: center;
}
.help i{
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.help h1, h3{
  text-align: center;
}
h1{
  color: #a80b2d;
}
h3{
  color: black;
}
strong{
  color: #a80b2d;
  text-decoration: underline;
}

/* styles for smaller screens*/
@media screen and (max-height: 900px) {
  .form-container {
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    height: 450px;
    font-size: 11px;
  }
  .form-container img {
    width: 150px;
    display: block;
    margin: auto;
  }
  .form-container input[type = submit]{
    border: 1px solid black;
    padding: 4px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 45%;
    font-size: 11px;
  }
  .form-container input[type = "text"]{
    display: inline-block;
    width: 140px;
    font-size: 11px;
  }
  .form-container label, .form-container-2 label {
    display: inline-block;
    width: 250px;
  }
  .form-container select, .form-container-2 select {
    display: inline-block;
    width: 150px;
    font-size: 11px;
  }

  /* styles for form display when clicked*/
  .form-container-2{
    display: inline;
    height: 450px;
    border-radius: 20px;
    padding: 30px;
    width: 420px;
    font-size: 11px;
  }

  /* styles for the 'see tutorial' button*/
  /* this was reused for the 'required courses progress' button as well*/
  .cover-page-background .form-container .help a p{
    font-size: 11px;
    padding: 4px;
  }
}