body {
    margin: 0;
    height: 100vh;
}

/* styles for both types of schedules*/
.scheduler .semester-schedules {
    padding: 20px;
    margin-top: 320px;
}
.semester-schedules label a{
    color: #a80b2d;
    text-decoration: none;
    display: inline-block;
    width: 500px;
}
.semester-schedules label a:hover{
    text-decoration: underline;
}

.continue-schedule input[type = submit]{
    border: 1px solid black;
    padding: 10px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.continue-schedule input[type = submit]:hover{
    transition: 0.5s;
    color: lightgray;
    background-color: #a80b2d;
}
.continue-schedule #print,
    .continue-schedule #single_semester_submit,
    #progress{
    width: 200px;
}

/* grid styles for generating the schedule in the 2-column format */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.grid-item {
    border: 3px solid #ccc;
    padding: 10px;
}
.grid-item:hover {
    background-color: #fff7df;
    border: 3px solid #a80b2d;
    transition: 1s;
}

/* styles for BOTH semester-by-semester AND full-schedule */
.semester-schedules p {
    margin: 0;
}
.scheduler,
.full-schedule-scheduler {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}
.semester-schedules label {
    display: inline-block;
    color: #a80b2d;
    width: 120px; /* changes how far away semester, credits are from edge*/
    font-weight: 600;
}
.semester-schedules ul {
    margin-left: 0;
    padding-left: 0;
}
.semester-schedules li {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}
.course-number, .course-name, .course-credits {
    display: inline-block;
}
.course-number{
    font-weight: 400;
    min-width: 15ch;
}
.course-category {
    display: inline;
    float: right;
}
.course-name-and-num {
    border: 1px solid lightgray;
    padding: 5px;
}
.course-name-and-num:hover {
    background-color: #a80b2d;
    color: white;
    border: 1px solid black;
    transition: 0.5s;
    font-weight: 600;
}

/* styles for smaller screens */
@media screen and (max-width: 940px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .semester-schedules li {
    margin-left: 0;
  }
  .scheduler .semester-schedules {
    padding: 0;
    margin-top: 350px;
  }
}

@media screen and (max-height: 900px) {
    .scheduler .semester-schedules {
        padding: 20px;
        margin-top: 195px;
    }
}


