/* basic tool tip styles*/
.tooltip {
    position: relative;
    display: inline-block;
    width: auto;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s;
    padding: 20px;
    border: 3px solid lightgray;
}
.tooltiptext a{
    color: #c22033;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}
.tooltiptext a:hover{
    text-decoration: none;
    border-color: #c22033;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* tooltips on semester-by-semester scheduler */
.scheduler .tooltip .tooltiptext {
    right: calc(100% + 10px)
}


/* counter bar tooltips */
.credit-category ul{
    text-align: left;
}

/* button to open up tutorial*/
.form-container .help a p{
  border: 1px solid black;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  color: black;
}
.form-container .help a p:hover{
  transition: 0.5s;
  color: lightgray;
  background-color: #a80b2d;
}

/* tutorial pop up styles*/
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.tutorial_popup {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 7px solid lightgray;
    border-radius: 20px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
.right-counter .tutorial_popup{
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 1002;
    overflow: auto;
    translate(-50%, -50%)
    height: auto;
}

/* close pop up*/
.close{
    display: flex;
    justify-content: center;
}
.close a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    color: black;
    margin-bottom: 20px;
}
.close a:hover{
    transition: 0.5s;
    color: lightgray;
    background-color: #a80b2d;
}

/* close for required popups*/
.right-counter .help a{
    text-decoration: none;
}
.right-counter .help a p{
    border: 1px solid black;
    padding: 10px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
    font-size: small;
}
.right-counter .help a p:hover{
    transition: 0.5s;
    color: lightgray;
    background-color: #a80b2d;
}
.right-counter .close{
    display: flex;
    justify-content: center;
}
.right-counter .close a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.right-counter .close a:hover{
    transition: 0.5s;
    color: lightgray;
}

/* styles for smaller screens */
@media screen and (max-width: 940px) {
  .scheduler .tooltip .tooltiptext {
    left: calc(100% + 10px)
  }
  .grad-class-list .tooltip .tooltiptext {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

@media screen and (max-height: 900px) {
    .right-counter .help a p {
        font-size: 11px;
        padding: 5px;
    }
    .black_overlay {
        width: 0;
        height: 0;
    }
}