.full-schedule-scheduler .semester-schedules {
    padding: 20px;
    margin-top: 350px;
}


@media screen and (max-width: 940px) {
    .full-schedule-scheduler .semester-schedules {
        padding: 20px;
        margin: 20px;
        margin-top: 175px;
    }
}

@media screen and (max-height: 900px){
    .full-schedule-scheduler .semester-schedules {
        margin-top: 175px;
    }
}