<div class = "counter-bar">
    <div class = "left-counter">
        <label>{{ user_name }} </label><br>
        <label for="minimum_semester_credits">
            Minimum Credits for {{ current_semester }} {{ semester_years_display[current_semester] }}
        </label>
        <select name="minimum_semester_credits" id="minimum_credits">
            {% for credits in minimum_semester_credits %}
            {% if current_semester == "Summer" and credits == minimum_summer_credits %}
            <option selected value="{{credits}}">{{ credits }}</option>
            {% elif credits == saved_minimum_credits_selection %}
            <option selected value="{{credits}}">{{ credits }}</option>
            {% else %}
            <option value="{{credits}}">{{ credits }}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        {% if degree_choice == "BSComputerScience" %}
            <label>B.S. in Computer Science</label>
        {% elif degree_choice == "BSComputingTechnology" %}
            <label>B.S. in Computing Technology</label>
        {% elif degree_choice == "BSCyberSecurity" %}
            <label>B.S. in CyberSecurity</label>
        {% elif degree_choice == "BSDataScience" %}
            <label>B.S. in Data Science and Analysis</label>
        {% else %}
            <br>
        {% endif %}
        <br>
        <div class = "credit-category">
            {% if certificates_display[0] != " " %}
                <label>{{ certificates_display[0]}}</label>
            {% else %}
                <br>
            {% endif %}
        </div>
        <br><br>
        <div class = "continue-schedule">
            <input type="button" id="download" value="Save Locally" onclick="download_schedule()"
                   title = "Download this schedule to save it for future use and sharing."/>
            <input type="submit" id = "print" name = "Print" value="Print View"
                    title = "Create an easy-to-read version of your schedule.">
            <input type="submit" id = "single_semester_submit" name = "single_semester" value="Continue Schedule">
        </div>
        <br>
    </div>
    <div class = "center-counter">
        <img src="https://www.umsl.edu/branding/logos/images/vertical-triton-red-blk.png">
    </div>
    <div class = "right-counter">
        <!-- Core Courses -->
        <div class = "credit-category">
                <label>Degree Credits
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">
                            &#xf059;
                        </i>
                            <span class="tooltiptext">
                                Credits earned for the degree, including all required Computer Science, Mathematics,
                                English, and Information Systems classes.
                            </span>
                    </span>
                </label>
                <span class = "credit-count">
                    {{ total_credits -  (27 - gen_ed_credits_still_needed) - fe_taken }}
                </span>
            </div>

        <!-- Gen Ed Credits-->
        <div class = "credit-category">
                <label>General Education Credits
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                            <span class="tooltiptext">
                            Credits earned from various courses needed for the BSCS degree.<br><br>
                            Every student must earn 27 general education credits to graduate. This includes:<br>
                                <ul>
                                    <li>3 English Credits</li>
                                    <li>9 Humanities Credits</li>
                                    <li>9 Social Science Credits</li>
                                    <li>3 History / Government Credits</li>
                                    <li>3 Communication Credits</li>
                                </ul>
                            A Cultural Diversity class must also be completed, though this class can be cross-listed
                                between another course category.
                        </span>
                    </span>
                </label>
            {% if 27 - gen_ed_credits_still_needed >= 27 %}
                    <span class="credit-count-success">{{ 27 - gen_ed_credits_still_needed }}</span>
                {% else %}
                    <span class="credit-count" id = "fail">{{ 27 - gen_ed_credits_still_needed }}</span>
                {% endif %}
                <span class = "credit-minimum">/ 27</span>
        </div>

        <!-- Free Electives-->
        <div class = "credit-category">
            <label>Free Elective Credits
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                        All courses that are not covered by BSCS Credits and General Education credits.
                    </span>
                </span>
            </label>
            <span class = "credit-count">
                {{ fe_taken
                }}
            </span>
        </div>

        <!-- Total Credits-->
        <div class = "credit-category">
            <label>Total Credits
                <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                            <span class="tooltiptext">
                            This is the total amount of credits earned after adding BSCS, General Education, and Free Elective credits.<br><br>
                            Every student must earn 120 total credits to graduate.
                        </span>
                    </span>
            </label>
                {% if total_credits >= 120 %}
                    <span class="credit-count-success">{{ total_credits }}</span>
                {% else %}
                    <span class="credit-count" id = "fail">{{ total_credits }}</span>
                {% endif %}
                <span class = "credit-minimum">/ 120</span>
        </div>

        <!-- Graduation Check-->
        <div class = "credit-category">
        <label>Requirements for Graduation
            <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                        This is the total amount of credits earned after adding BSCS, General Education, and Free Elective credits.<br><br>
                        Every student must earn 120 total credits to graduate.
                    </span>
                </span>
        </label>
            {% if is_graduated == True %}
                <span class="credit-count-success">Met</span>
            {% else %}
                <span class="credit-count" id = "fail">Unmet</span>
            {% endif %}
    </div>

        <!-- Required Courses Progress -->
        <div class = "help">
            <a href="javascript:void(0)"
               onclick="document.getElementById('light').style.display='block';
               document.getElementById('fade').style.display='block'">
                <p>Course Progress</p>
            </a>
            <div id="light" class="tutorial_popup">
                <h1>Degree Courses</h1>
                <h3>
                    {% if certificates_display[0] != "None" %}
                        (Includes {{ certificates_display[0] }} Certificate Core Courses)
                    {% endif %}
                </h3>
                <!-- List the courses, both taken and not taken-->
                <ul class="class-grid">
                    {% for course in required_courses_tuple_display %}
                        {%  if course in courses_taken %}
                            <li id = "course-taken">{{ course }}</li>
                        {% else %}
                            <li id = "course-not-taken">{{ course }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <br><br>

                <div class = "close">
                    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';
                    document.getElementById('fade').style.display='none'">
                        Close
                    </a>
                </div>
            </div>
            <div id="fade" class="black_overlay"></div>
        </div>
    </div>
</div>