<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <form id="form" action="/schedule" method="post" enctype="multipart/form-data">
        <div class = "question-box" id = "has_upload_question">
            <label for="question" id = "pre-made">
                Upload previously-made schedule?
            </label>
            <input type="checkbox" id="has_upload" name="include_upload" onclick="handleUploadCheckbox(this)"><br>
            <span class="tooltip">
                <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                <span class="tooltiptext">
                    Create a schedule and effortlessly save it. Come back anytime to make adjustments by uploading it here.
                    Need feedback? Send your schedule directly to your advisor for seamless collaboration -
                    No login credentials needed!
                </span>
            </span>
        </div>
        <div class = "upload_schedule">
            <div class = "form-container">
                <h1>Returning user? Upload your schedule here!</h1>
                <p>You can easily upload your previously created schedule to quickly integrate it into our system.
                    Please follow the instructions below to ensure a smooth upload process:</p>
                <!-- Features -->
                <h3>Step One: Select Your File</h3>
                <p>Be sure that your file is a .txt file, and click the "Choose File" button below.</p>
                <div class = "upload-file">
                    <input type=file id="file" name=file class = "upload-label" title = ""><br><br>
                </div>
                <h3>Step Two: Upload Your File</h3>
                <p>Click the "upload" button and retun to the schedule editor.</p>
                <input type=submit name=upload value=Upload id = "upload-button">
            </div>
        </div>
        <div class="cover-page-background">
            <!-- Menu -->
            <div class="form-container" id = "form-container-1">
                <!-- Display logo-->
                <img src="https://www.umsl.edu/branding/logos/images/vertical-triton-red-blk.png">
                <br><br>

                <label for="user_name">Name</label>
                <input type="text" id="user_name" name="user_name">
                <br><br>

                <!-- Select Degree Option -->
                <label for="degree_choice">
                    Degree Option
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            UMSL offers many paths to a Bachelor's of Science degree, and the department offers 4 undergraduate degree programs.
                            They all start with similar set of common courses, so students can delay the major decision or degree paths easily. <br><br>
                            <a href ="https://www.umsl.edu/cmpsci/undergraduate-studies/degree-programs.html" target="_blank">
                                Learn More
                            </a>
                        </span>
                    </span>
                </label>
                <select id="degree_choice" name="degree_choice" onchange="cyber_degree_check()">
                    <option value="BSComputerScience">B.S. in Computer Science</option>
                    <option value="BSComputingTechnology">B.S. in Computing Technology</option>
                    <option value="BSCyberSecurity">B.S. in CyberSecurity</option>
                    <option value="BSDataScience">B.S. in Data Science and Analysis</option>
                </select>
                <br><br>

                <!-- Area to display course selections -->
                <div id="course_selection_area"></div>

                <!-- Select certificate option -->
                <label for="certificate">
                    Certificate Option
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            Enhance your expertise with our undergraduate certificate programs tailored to complement your degree.
                            These focused curricula offer specialized training in areas, providing valuable skills to bolster
                            your resume and advance your career.<br><br>
                            <a href ="https://www.umsl.edu/cmpsci/certificates/undergraduate-certificates.html" target="_blank">
                                Learn More
                            </a><br><br>

                            Multiple certificates can be chosen! <br>Type Ctrl + Click (Windows) or ⌘ + Click (Mac) to do so.
                        </span>
                    </span>
                    <br>
                </label>
                <select id="certificate" name="certificate_choice" multiple onchange="handleCertSelect(this)">
                    {% for certificate, certificate_value in certificates %}
                    <option value="{{certificate}},{{certificate_value}}">{{ certificate }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <!-- Select starting semester-->
                <label for="current_semester">Starting Semester</label>
                <select name="current_semester" id="starting_semester">
                    {% for semester in semesters %}
                    <option value="{{semester}}">{{ semester }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <!-- Select minimum credits for 1st semester-->
                <label for="initial_minimum_semester_credits">Minimum Credits for First Semester</label>
                <select name="minimum_semester_credits" id="initial_minimum_credits">
                    {% for credits in minimum_semester_credits %}
                    {% if credits == 15 %}
                    <option selected value="{{credits}}">{{ credits }}</option>
                    {% else %}
                    <option value="{{credits}}">{{ credits }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <br><br>

                <!-- Select summer semester boolean -->
                <label for="summer">Summer Semester</label>
                <input type="checkbox" id="summer" name="include_summer" onClick="handleSummerCheckboxClick(this)"><br>
                <br>

                <!-- Ask user for number of credits for summer-->
                <label style="visibility: hidden;" id="summer_credits_label" for="minimum_summer_credits">
                    Minimum Credits for Summer
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            Though a student is free to take as many credits as he or she wishes, 6 credits is the maximum recommended in one summer.
                        </span>
                    </span>
                </label>
                <select style="visibility: hidden;" id="summer_credits_select" name="minimum_summer_credits">
                    {% for credits in minimum_summer_credits %}
                    {% if credits == 0 %}
                        <option selected value="{{credits}}">{{ credits }}</option>
                    {% else %}
                        <option value="{{credits}}">{{ credits }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <br>
                <br>


                <!-- Earned credit boolean -->
                <label for="earned_credit">
                    Input Academic History
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            If you have already earned credits — be it through waived, transferred, or already completed courses at UMSL  —
                            check this box to bring you to a form for more information. Earned credit also includes courses a student has tested out of.
                        </span>
                    </span>
                </label>
                <input type="checkbox" id="has_credits" name="include_credits" onclick="handleEarnedCreditCheckboxClick(this)"><br>
                <br><br><br>

                <div class = "cover-page-buttons">
                    <!-- Choose Optional Courses-->
                    <div class = "help">
                        <a href="javascript:void(0)"
                           onclick="document.getElementById('proceed-button').style.display='block';
                           document.getElementById('fade').style.display='block'"
                           id="create_schedule_btn">
                            <p>Create a Schedule</p>
                        </a>
                        <div id="proceed-button" class="tutorial_popup">
                            <h2>Create a Schedule</h2>
                            <p id = "course-selection-message">In order to create a schedule that best matches your needs, you may select from the following
                                courses. After this, choose to either generate your schedule by semester or in full.</p>
                            <!-- submit buttons-->
                                <div class = "buttons">
                                    <input type="submit" id="single_semester_submit" name="single_semester" value="Start Schedule by Semester">
                                    <input type="submit" id="complete_schedule_submit" name="generate_complete_schedule" value="Generate Full Schedule">
                                    <a href="javascript:void(0)" onclick="document.getElementById('proceed-button').style.display='none';
                                    document.getElementById('fade').style.display='none'">Go Back</a>
                                </div>
                            <br>
                            <hr>
                            <br><br>
                            <!-- Course selection checkboxes -->
                            <div id="course_selection">
                                {% for major, courses in selection_dict.items() %}
                                    <div class="major" id="{{ major }}">
                                        <!--<strong>{{ major }}</strong>-->
                                        {% for course_set in courses %}
                                            <p id="selected_degree"></p>
                                            <p>Select {{ course_set[0] }} from the following courses:</p>
                                            <ul>
                                                {% for course in course_set[1] %}
                                                    <li>
                                                        <input type="checkbox" name="user_course_selections" value="{{ course }}"
                                                               data-max="{{ course_set[0] }}" class="course-checkbox"> {{ course }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>

                            <script src="../static/js/initial_page_utils.js"></script>

                            <br><br>
                            <div class = "close" id = "close-optional">

                            </div>
                        </div>
                        <div id="fade" class="black_overlay"></div>
                    </div>

                    <!-- Tutorial -->
                    <div class = "help">
                        <a href="javascript:void(0)"
                           onclick="document.getElementById('light').style.display='block';
                           document.getElementById('fade').style.display='block'">
                            <p> About This App </p>
                        </a>
                        <div id="light" class="tutorial_popup">
                            <h1>Welcome to the University of Missouri - St. Louis Scheduling App!</h1>
                            <h3>This tool is to help current and future UMSL Computer Science students plan their program so that they may meet
                                their course requirements.</h3>
                            <!-- Features -->
                            <h2>Features</h2>
                            <p>On this app, students can input their desired parameters for the completion of the Bachelors of Science in Computer Science. This includes the following:</p>
                            <ul>
                                <li><strong>Certificate Options:</strong> Choose between several certificate options, building your schedule around the required and elective courses of this path.</li>
                                <li><strong>Starting Semester:</strong> Input your desired semester (Fall, Spring, or Summer), and the app will determine the next available semester for you to begin your studies.</li>
                                <li><strong>Minimum Credits per Semester:</strong> Set your minimum credit requirement for the first semester, and the app will calculate the earliest semester in which you can achieve this, adjusting as necessary.</li>
                                <li><strong>Summer Semester:</strong> Take advantage of summer classes with our app, which will integrate them into your schedule.</li>
                                <li><strong>Earned Credit:</strong> Your schedule will be tailored to account for any credits you've already earned, including waived courses, required courses, general electives, and free electives.</li>
                                <li><strong>Two Schedule Generation Options:</strong> Choose between generating your schedule semester-by-semester or generating a full schedule. Details provided below.</li>
                                <li><strong>Optimized Course Balance:</strong> Our scheduling algorithm ensures that your generated schedules strike a balance, preventing overloaded semesters with an excessive focus on one discipline. Free electives and general education credits are strategically integrated throughout your schedule.</li>
                                <li><strong>Easy Printing:</strong> Print your course schedule with ease using the "Print" button located at the top of each schedule generation page.</li>
                                <li><strong>Effortless Saving and Sharing:</strong> Effortlessly save your schedule and come back anytime to make adjustments by uploading it here.
                                        Need feedback? Send your schedule directly to your advisor for seamless collaboration -
                                        No login credentials needed!
                            </ul>

                            <!-- The Two Schedule Types-->
                            <h2>Create a Schedule Semester-by-Semester</h2>
                            <p>
                                Create your schedule step-by-step with our semester-by-semester scheduling feature.
                                Tailor each semester according to your preferences by selecting the desired number of credits as you progress.
                                This flexible approach empowers you to craft a personalized schedule that aligns perfectly with your academic and personal commitments,
                                ensuring a balanced and manageable workload every step of the way.
                                In addition, a running ticker in the top-right corner will ensure that you are on track with your core courses, general electives, free electives,
                                total credits, and any other requirements.
                            </p>
                            <h2>Create a Full Schedule at Once</h2>
                            <p>
                                Streamline your path to graduation with our automatic full schedule generation feature.
                                Our advanced algorithm meticulously constructs a comprehensive schedule optimized for efficiency,
                                automatically assigning the least possible number of credits. Help us guide you through your entire program,
                                ensuring a smooth and efficient schedule.
                            </p>

                            <!-- Drag and Drop -->
                            <h2>Refine Your Schedule with Drag-and-Drop</h2>
                            <p>
                                Refine your schedule to perfection even after it is generated with our intuitive drag-and-drop feature.
                                Fine-tune your timetable by effortlessly moving courses around to better suit your preferences and
                                optimize your schedule.
                                Should any conflicts arise, our system has you covered – if a course placement is invalid,
                                a red box will appear around the affected course, accompanied by a clear explanation detailing
                                why it cannot occupy that particular slot. Enjoy unparalleled flexibility and peace of mind as you
                                craft the ideal schedule tailored to your needs, backed by our robust error detection system.
                            </p>

                            <!-- Tool Tips-->
                            <h2>Have Questions? See the Tooltips!</h2>
                            <p>
                                Discover more about our scheduling app by simply hovering over the "?" tooltips scattered throughout the interface.
                                These informative tooltips offer instant clarification on any feature or function you may have questions about.
                                Whether you're uncertain about a specific term or need additional guidance on using a particular tool,
                                our tooltips are here to provide the answers you need, right when you need them.
                            </p>

                            <!-- Disclaimer-->
                            <h2>Disclaimers</h2>
                            <ul>
                                <li><strong>Consult your Academic Advisor!</strong> This course scheduling tool is not an official schedule. Users should consult with academic advisors for guidance on course selection and scheduling.</li>
                                <li><strong>Register Online!</strong> Selecting courses and sections is for planning purposes only and does not register a student in those courses.</li>
                            </ul>
                            <br><br>
                            <div class = "close">
                                <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';
                                document.getElementById('fade').style.display='none'">
                                    Close this tutorial
                                </a>
                            </div>
                        </div>
                        <div id="fade" class="black_overlay"></div>

                    </div>
                </div>

                <!-- hidden variables -->
                <input type="hidden" name = "selection_dict" value = {{ selection_dict }}>
                <input type="hidden" name="course_schedule" value="{{ course_schedule }}">
                <input type="hidden" name="semester_number" value="{{ semester_number }}">
                <input type="hidden" name="min_degree_electives" value="{{ min_degree_electives }}">
                <input type="hidden" name="include_summer" value="{{ include_summer }}">
                <input type="hidden" id="json_required_courses" name="json_required_courses"
                    value="{{ json_required_courses }}">
                <input type="hidden" name="elective_courses" value="{{ elective_courses }}">
                <input type="hidden" name="gen_ed_credits_still_needed" value="{{ gen_ed_credits_still_needed }}">
                <input type="hidden" name="first_semester" value="{{ first_semester }}">
                <input type="hidden" name="minimum_summer_credits" value="{{ minimum_summer_credits }}">
                <input type="hidden" name="semester_years" value="{{ semester_years }}">
                <input type="hidden" name="required_courses_tuple" value = "{{ required_courses_tuple }}">
                <input type="hidden" id="selected_certificates" name="selected_certificates" value="{{ selected_certificates }}">

            </div>
            <div class="second-form" id = "form-container-2">
                <!-- Select waived courses-->
                <label for="waived_courses">
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            A waived course is one in which a student is exempt from completing due to previous academic
                            achievements or demonstrated proficiency. If a course waived, the student <em>cannot</em> claim
                            credit for that course, and it does not count towards minimum credit requirements.<br><br>

                            Unsure if a course is waived?<br><br>
                            <a href ="https://www.umsl.edu/~academicadvising/index.html" target="_blank">
                                Academic Advising Office
                            </a>
                        </span>
                    </span>
                    Waived Courses
                    <br>
                    <span class="tooltip">
                        <i style="font-size:12px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            Make sure that you select all Math courses that you have tested out of. These count as "waived
                            courses". <br><br>

                            Unsure if a math course is waived?<br><br>
                            <a href ="https://www.umsl.edu/~campustesting/mathplacement.html" target="_blank">
                                Math Placement Testing
                            </a>
                        </span>
                    </span>
                    <p id = "subtext">include Math courses tested out of</p>
                </label>
                <select name="waived_courses" id="waived_courses" multiple onchange="updateWaivedTakenDropdown(this)"
                onfocus='this.size=10;' onblur='this.size=10;'
                onchange='this.size=10;'>
                    {% for required_course in required_courses %}
                    <option value="{{required_course.course}}">{{ required_course.course }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <!-- Select courses taken -->
                <label for="courses_taken">
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            Select any courses from the dropdown that you have earned,
                            either previously at UMSL or transferred in from another institution.<br><br>

                            Unsure if a course transfers?<br><br>
                            <a href ="https://www.umsl.edu/admissions/transfer/transfer-credit-evaluation.html"
                            target="_blank">
                                Visit the Transfer Portal
                            </a>
                        </span>
                    </span>
                    Completed Courses
                </label>
                <select name="courses_taken" id="taken_courses" multiple onChange="handleTakenCourseSelect(this)"
                onfocus='this.size=10;' onblur='this.size=10;'
                onchange='this.size=10;'>
                    {% for required_course in required_courses %}
                    <option value="{{required_course.course}}" credits="{{required_course.credits}}">{{
                        required_course.course }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <!-- Select general education taken -->
                <label for="ge_taken">
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            Select the credits from the dropdown that you have earned,
                            either previously at UMSL or transferred in from another institution, that
                            count for General Education requirements.<br><br>

                            Want to learn more about the General Education Requirements?<br><br>
                            <a href ="https://bulletin.umsl.edu/generaleducationrequirements/"
                            target="_blank">
                                Learn More</a><br><br>
                            Unsure if a course transfers?<br><br>
                            <a href ="https://www.umsl.edu/admissions/transfer/transfer-credit-evaluation.html"
                            target="_blank">
                                Visit the Transfer Portal
                            </a>
                        </span>
                    </span>
                    General Education Credits Earned
                </label>
                <select name="ge_taken" id="ge_taken_id">
                    {% for i in range(0, 61) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <!-- Select free electives taken -->
                <label for="fe_taken">
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            Select the credits from the dropdown that you have earned,
                            either previously at UMSL or transferred in from another institution, that
                            count for credit, but not General Education or BSCS required courses.<br><br>

                            Unsure if a course transfers?<br><br>
                            <a href ="https://www.umsl.edu/admissions/transfer/transfer-credit-evaluation.html"
                            target="_blank">
                                Visit the Transfer Portal
                            </a>

                        </span>
                    </span>
                    Free Elective Credits Earned
                </label>
                <select name="fe_taken" id="free_taken_id">
                    {% for i in range(0, 61) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <!-- Select if successfully passed proctored math exam -->
                <!--
                <label for="aleks">
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">
                            Received 70% or higher on the proctored UMSL Math Placement (ALEKS) within the past year.
                        </span>
                    </span>
                    70% on UMSL Math Placement
                </label>
                <input type="checkbox" id="aleks" name="aleks_check"><br>
                <br><br>-->

                <!-- Select number of credits already earned -->
                <label for="total_credits" id = "total_credits_id">
                    <span class="tooltip">
                        <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                        <span class="tooltiptext">This is the total amount of credits earned
                        from Computer Science, Mathematics, General Education courses, Free Electives,
                        and other BSCS core. These credits will go to the 120-credit graduation requirements.</span>
                    </span>
                    Current Credits Earned
                </label>
                <select name="total_credits" id="starting_credits">
                    {% for credits in starting_credits %}
                    <option value="{{credits}}">{{ credits }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="required_courses_dict" value="{{ required_courses_dict }}">
                <br><br>

                <!-- Disclaimer -->
                <small>This course scheduling tool is not an official schedule.
                Users should consult with academic advisors for guidance on course selection and scheduling.</small>
            </div>
        </div>
    </form>
    <!-- Run handleCertSelect to initialize blank course selections -->
    <script type="text/javascript">
        handleCertSelect(null)
    </script>
</html>