<html>
    <div class="cover-page-background">
        <!-- Menu -->
        <div class="form-container">
            <img src="https://www.umsl.edu/branding/logos/images/vertical-triton-red-blk.png">
            <br><br>

            <!-- Select current semester-->
            <label for="current_semester">Starting Semester</label>
            <select name="current_semester" id="starting_semester">
                {% for semester in semesters %}
                <option value="{{semester}}">{{ semester }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select summer semester boolean -->
            <label for="summer">Summer Semester</label>
            <input type="checkbox" id="summer" name="include_summer" onClick="handleSummerCheckboxClick(this)"><br>
            <br><br>

            <!-- Select certificate option -->
            <label for="certificate">Certificate Option</label>
            <select id="certificate" name="certificate_choice" onchange="handleCertSelect(this)">
                {% for certificate, certificate_value in certificates %}
                <option value="{{certificate}},{{certificate_value}}">{{ certificate }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select waived courses-->
            <label for="waived_courses">Select Waived Courses</label>
            <select name="waived_courses" id="waived_courses" multiple onchange="updateWaivedTakenDropdown(this)">
                {% for required_course in required_courses %}
                <option value="{{required_course.course}}">{{ required_course.course }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select courses taken -->
            <label for="courses_taken">Select Completed Courses</label>
            <select name="courses_taken" id="taken_courses" multiple onChange="handleTakenCourseSelect(this)">
                {% for required_course in required_courses %}
                <option value="{{required_course.course}}" credits="{{required_course.credits}}">{{
                    required_course.course }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select number of credits already earned -->
            <label for="total_credits">Current Credits Earned</label>
            <select name="total_credits" id="starting_credits">
                {% for credits in starting_credits %}
                <option value="{{credits}}">{{ credits }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="required_courses_dict" value="{{ required_courses_dict }}">
            <br><br>

            <!-- Ask user for number of credits for first semester-->
            <label for="initial_minimum_semester_credits">Minimum Credits for First Semester</label>
            <select name="minimum_semester_credits" id="initial_minimum_credits">
                {% for credits in minimum_semester_credits %}
                {% if credits == 15 %}
                <option selected value="{{credits}}">{{ credits }}</option>
                {% else %}
                <option value="{{credits}}">{{ credits }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br><br>

         <!-- Ask user for number of credits for summer-->
            <label for="initial_minimum_summer_credits">Minimum Credits for Summer</label>
            <select name="minimum_summer_credits" id="initial_minimum_summer_credits">
                {% for credits in minimum_summer_credits %}
                {% if credits == 0 %}
                <option selected value="{{credits}}">{{ credits }}</option>
                {% else %}
                <option value="{{credits}}">{{ credits }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br><br>

            <input type="hidden" name="course_schedule" value="{{ course_schedule }}">
            <input type="hidden" name="semester_number" value="{{ semester_number }}">
            <input type="hidden" name="min_3000_course" value="{{ min_3000_course }}">
            <input type="hidden" name="include_summer" value="{{ include_summer }}">
            <input type="hidden" id="json_required_courses" name="json_required_courses"
                value="{{ json_required_courses }}">
            <input type="hidden" name="num_3000_replaced_by_cert_core" value="{{ num_3000_replaced_by_cert_core }}">
            <input type="hidden" name="cert_elective_courses_still_needed"
                value="{{ cert_elective_courses_still_needed }}">
            <input type="hidden" name="elective_courses" value="{{ elective_courses }}">
            <input type="hidden" name="gen_ed_credits_still_needed" value="{{ gen_ed_credits_still_needed }}">
            <input type="hidden" name="first_semester" value="{{ first_semester }}">
            <input type="hidden" name="minimum_summer_credits" value="{{ minimum_summer_credits }}">
            <input type="hidden" name="semester_years" value="{{ semester_years }}">
            <input type="submit" id="single_semester_submit" name="single_semester" value="Start Schedule (by Semester)">
            <input type="submit" id="complete_schedule_submit" name="generate_complete_schedule" value="Generate Full Schedule">
        </div>
    </div>
</html>