<html>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        // Add or remove 'Summer' option depending on Summer checkbox
        function handleSummerCheckboxClick(checkbox){
            var starting_semester_dropdown = document.getElementById("starting_semester");
            if (!checkbox.checked) {
                starting_semester_dropdown.remove(2); // remove summer option
            } else {
                var option = document.createElement("option");
                option.text = "Summer";
                starting_semester_dropdown.add(option);
            }
        }

        // Remove all options of a passed in select element
        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
            for(i = L; i >= 0; i--) {
                selectElement.remove(i);
            }
        }

        // Rebuild current credits dropdown based on selected 'Taken' courses 
        function handleTakenCourseSelect(sel) {
            var starting_credits_dropdown = document.getElementById("starting_credits");
            var opts = []
            var opt;
            var credits = 0;
            for (var i = 0; i < sel.options.length; i++) {
                opt = sel.options[i];

                if (opt.selected) {
                    opts.push(opt.value);
                    credits = credits + parseInt(opt.getAttribute("credits"))
                }
            }

            var numArray = [];
            var highEnd = 200; // Max value for current credits option
            c = highEnd - credits + 1;
            while ( c-- ) {
                numArray[c] = highEnd--
            }

            // Remove all option elements from the starting credits dropdown
            removeOptions(starting_credits_dropdown);

            // Updates the starting credits options based on taken courses selected
            for (var i = 0; i < numArray.length; i++) {
                var newOption = document.createElement('option');

                newOption.text = numArray[i];
                newOption.value = numArray[i];

                starting_credits_dropdown.options.add(newOption, null);
            }

            // Update waived courses select element to remove/add options based on selected taken courses
            updateWaivedTakenDropdown(sel, true)
        }

        // Update waived/taken courses select element to remove/add options based on selected waived/taken courses
        function updateWaivedTakenDropdown(sel, is_taken_courses) {
            var dropdown_to_update;
            if (is_taken_courses) {
                dropdown_to_update = document.getElementById("waived_courses");
            } else {
                dropdown_to_update = document.getElementById("taken_courses");   
            }
            var required_courses = JSON.parse(document.getElementById("json_required_courses").value);

            var opts = []
            var selected_opts_from_dropdown_to_update = []
            var opt;

            // Obtain list of selected courses from passed in select
            for (var i = 0; i < sel.options.length; i++) {
                opt = sel.options[i];

                if (opt.selected) {
                    opts.push(opt.value);
                }
            }

            // Obtain list of selected courses from select element to be updated (this will allow us to ensure already selected values will remain selected)
            for (var i = 0; i < dropdown_to_update.options.length; i++) {
                opt = dropdown_to_update.options[i];

                if (opt.selected) {
                    selected_opts_from_dropdown_to_update.push(opt.value);
                }
            }

            removeOptions(dropdown_to_update);

            // Generates new options for the waived/taken select element
            for (var i = 0; i < required_courses.length; i++) {
                // If the course is not selected in the current element then add that course option element to the other select dropdown
                if (!opts.includes(required_courses[i].course)) {
                    var newOption = document.createElement('option');

                    newOption.text = required_courses[i].course;
                    newOption.value = required_courses[i].course;

                    // If Taken courses is not the currently selected element then don't add credits attribute option element
                    if (!is_taken_courses) {
                        newOption.setAttribute("credits", required_courses[i].credits);
                    }

                    if (selected_opts_from_dropdown_to_update.includes(required_courses[i].course)) {
                        newOption.selected = true
                    }

                    dropdown_to_update.options.add(newOption, null);
                }
            }
        }
    </script>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <form id="form" action="/schedule" method="post">
            <!-- Set up the schedule -->
            {% if initial_load %}
            <div class = "cover-page-background">

                <!-- Menu -->
                <div class = "form-container">
                    <img src = "https://www.umsl.edu/branding/logos/images/vertical-triton-red-blk.png">
                    <br><br>

                    <!-- Select current semester-->
                    <label for="current_semester">Starting Semester</label>
                    <select name="current_semester" id="starting_semester">
                        {% for semester in semesters %}
                        <option value="{{semester}}">{{ semester }}</option>
                        {% endfor %}
                    </select>
                    <br><br>

                    <!-- Select summer semester boolean -->
                    <label for="summer">Summer Semester</label>
                    <input type="checkbox" id="summer" name="include_summer" onClick="handleSummerCheckboxClick(this)"><br>
                    <br><br>

                    <!-- Select certificate option -->
                    <label for="certificate">Certificate Option</label>
                    <select id="certificate" name="certificate_choice">
                        {% for certificate, certificate_value in certificates %}
                        <option value="{{certificate_value}}">{{ certificate }}</option>
                        {% endfor %}
                    </select>
                    <br><br>

                    <!-- Select waived courses-->
                    <label for="waived_courses">Select Waived Courses</label>
                    <select name="waived_courses" id="waived_courses" multiple onchange="updateWaivedTakenDropdown(this)">
                        {% for required_course in required_courses %}
                        <option value="{{required_course.course}}">{{ required_course.course }}</option>
                        {% endfor %}
                    </select>
                    <br><br>

                    <!-- Select courses taken -->
                    <label for="courses_taken">Select Earned Credits</label>
                    <select name="courses_taken" id="taken_courses" multiple onChange="handleTakenCourseSelect(this)">
                        {% for required_course in required_courses %}
                        <option value="{{required_course.course}}" credits="{{required_course.credits}}">{{ required_course.course }}</option>
                        {% endfor %}
                    </select>
                    <br><br>

                    <!-- Select number of credits already earned -->
                    <label for="total_credits">Current Credits Earned</label>
                    <select name="total_credits" id="starting_credits">
                        {% for credits in starting_credits %}
                        <option value="{{credits}}">{{ credits }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="required_courses_dict" value="{{ required_courses_dict }}">
                    <br><br>

                    <!-- Ask user for number of credits for first semester-->
                    <label for="initial_minimum_semester_credits">Minimum Credits for First Semester</label>
                    <select name="minimum_semester_credits" id="initial_minimum_credits">
                        {% for credits in minimum_semester_credits %}
                            {% if credits == 15 %}
                            <option selected value="{{credits}}">{{ credits }}</option>
                            {% else %}
                            <option value="{{credits}}">{{ credits }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br><br>

                    <input type="hidden" name="course_schedule" value="{{ course_schedule }}">
                    <input type="hidden" name="semester_number" value="{{ semester_number }}">
                    <input type="hidden" name="min_3000_course" value="{{ min_3000_course }}">
                    <input type="hidden" name="include_summer" value="{{ include_summer }}">
                    <input type="hidden" id="json_required_courses" name="json_required_courses" value="{{ json_required_courses }}">
                    <input type="hidden" name="certificate_choice" value="{{ certificate_value }}">
                    <input type="hidden" name="num_3000_replaced_by_cert_core" value="{{ num_3000_replaced_by_cert_core }}">
                    <input type="hidden" name="cert_electives_still_needed" value="{{ cert_electives_still_needed }}">
                    <input type="hidden" name="elective_courses" value="{{ elective_courses }}">
                    <input type="submit" name="single_semester" value="Start Schedule (by Semester)">
                    <input type="submit" name="generate_complete_schedule" value="Generate Full Schedule">
                </div>
            </div>

            {% else %}
            <!-- Display schedule -->
            <div class = "scheduler">
                <input type="hidden" name="waived_courses" value="{{ waived_courses }}">
                <input type="hidden" name="current_semester" value="{{ current_semester }}">
                <input type="hidden" name="courses_taken" value="{{ courses_taken }}">
                <input type="hidden" name="semesters" value="{{ semesters }}">
                <input type="hidden" name="total_credits" value="{{ total_credits }}">
                <input type="hidden" name="required_courses_dict_list" value="{{ required_courses_dict_list }}">

                <!-- Ask user for number of credits next semester-->
                <div class = "next-semester">
                    <p><label>Total Accumulated Credits</label>{{ total_credits }} / 120</p>
                    <label for="minimum_semester_credits">Minimum Credits for Next Semester</label>
                    <select name="minimum_semester_credits" id="minimum_credits">
                        {% for credits in minimum_semester_credits %}
                            {% if credits == saved_minimum_credits_selection %}
                            <option selected value="{{credits}}">{{ credits }}</option>
                            {% else %}
                            <option value="{{credits}}">{{ credits }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br><br>

                    <!-- hidden values -->
                    <input type="hidden" name="course_schedule" value="{{ course_schedule }}">
                    <input type="hidden" name="semester_number" value="{{ semester_number }}">
                    <input type="hidden" name="min_3000_course" value="{{ min_3000_course }}">
                    <input type="hidden" name="include_summer" value="{{ include_summer }}">
                    <input type="hidden" name="certificate_choice" value="{{ certificate_value }}">
                    <input type="hidden" name="num_3000_replaced_by_cert_core" value="{{ num_3000_replaced_by_cert_core }}">
                    <input type="hidden" name="cert_electives_still_needed" value="{{ cert_electives_still_needed }}">
                    <input type="hidden" name="elective_courses" value="{{ elective_courses }}">
                    <input type="submit" value="Continue Schedule">
                    <br><br>
                    <small>This course scheduling tool is not an official schedule.<br>
                        Users should consult with academic advisors for guidance
                        on course selection and scheduling.</small>
                </div>

                <!-- Individual semester information, repeating until credits are reached -->
                <div class = "semester-schedules">
                    {% for semester in course_schedule_display %}
                    <br>
                        <p><label>Semester</label>{{ semester.semester }}</p>
                        <p><label>Credits</label>{{ semester.credits }}</p>
                        <p><label>Courses</label></p>
                        <ul>
                            {% for course in semester.schedule %}
                            <li title="{{ course.description }}">
                                <p class = "course-number">{{ course.course }}: </p>
                                <p class = "course-name">{{ course.name }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </form>
    </body>
</html>