<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/mainpage.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/coverpage.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/sembysem.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/wholesem.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/tooltip.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="../static/js/initial_page_utils.js"></script>
    <script src="../static/js/drag_drop_utils.js"></script>
    <script src="../static/js/save_load.js"></script>
    <script src="../static/js/schedule_display_utils.js"></script>
</head>

<body>
    <!-- First page: page to set up schedule and enter in parameters -->
    {% if initial_load %}
        {% include 'home_page.html' %}
    <!-- Second page: page to display schedule -->
    {% else %}
        {% include 'schedule_display_page.html' %}
    {% endif %}
</body>

</html>