<html>
    <!-- If generating a schedule semester-by-semester-->
    <form id="form" action="/schedule" method="post">
        {% if not full_schedule_generation %}
            <div class="scheduler">
                <!-- Header for semester by semester -->
                {% include 'course_scheduler_header.html' %}

                <!-- Individual semester information, repeating until credits are reached -->
                <div class="semester-schedules">
                    <div class="grid-container">
                        {% for semester in course_schedule_display %}
                        <div class="grid-item" semesterNum="{{ semester.semester_number}}" ondrop="drop(event, this)"
                            ondragover="allowDrop(event)">
                            <p><label>Semester</label>{{ semester.semester }} {{ semester.year }}</p>
                            <p id="semester-{{ semester.semester_number}}-credits"><label>Credits</label>{{ semester.credits
                                }}</p>
                            <ul id="semester-{{ semester.semester_number}}-ul">
                                {% for course in semester.schedule %}
                                    {% if course.passed_validation == true %}
                                        <li id="{{ course.course }}" title="{{ course.prerequisite_description }} {{ course.description }}" courseNum="{{ course.course }}"
                                            courseName="{{ course.name }}" courseCredits="{{ course.credits }}" draggable="true"
                                            ondragstart="drag(event, this)">
                                            <div class="course-name-and-num">
                                                {% include 'course_name_and_num.html' %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li id="{{ course.course }}" title="{{ course.prerequisite_description }} {{ course.description }}" courseNum="{{ course.course }}"
                                            courseName="{{ course.name }}" courseCredits="{{ course.credits }}" draggable="true"
                                            ondragstart="drag(event, this)" style="border: 1px solid red;">
                                            <div class="course-name-and-num">
                                                <i id="{{ course.course }}-quest-icon" class="fa fa-question-circle" title="{{ course.validation_msg }}" style="color: red"></i>
                                                {% include 'course_name_and_num.html' %}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Scroll to bottom of page as new semesters get added -->
            <script>
                window.scrollTo(0, document.body.scrollHeight);
            </script>
        <!-- If generating a schedule all at once-->
        {% else %}
            <div class="full-schedule-scheduler">
                <div class="semester-schedules">
                    {% include 'course_scheduler_header.html' %}
                    <div class="grid-container">
                        {% for semester in course_schedule_display %}
                        <div class="grid-item" semesterNum="{{ semester.semester_number}}" ondrop="drop(event, this)"
                            ondragover="allowDrop(event)">
                            <p><label>Semester</label>{{ semester.semester }} {{ semester.year }}</p>
                            <p id="semester-{{ semester.semester_number}}-credits"><label>Credits</label>{{ semester.credits
                                }}</p>
                            <ul id="semester-{{ semester.semester_number}}-ul">
                                {% for course in semester.schedule %}
                                {% if course.passed_validation == true %}
                                        <li id="{{ course.course }}" title="{{ course.prerequisite_description }} {{ course.description }}" courseNum="{{ course.course }}"
                                            courseName="{{ course.name }}" courseCredits="{{ course.credits }}" draggable="true"
                                            ondragstart="drag(event, this)">
                                            <div class="course-name-and-num">
                                                {% include 'course_name_and_num.html' %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li id="{{ course.course }}" title="{{ course.prerequisite_description }} {{ course.description }}" courseNum="{{ course.course }}"
                                            courseName="{{ course.name }}" courseCredits="{{ course.credits }}" draggable="true"
                                            ondragstart="drag(event, this)" style="border: 1px solid red;">
                                            <div class="course-name-and-num">
                                                <i id="{{ course.course }}-quest-icon" class="fa fa-question-circle" title="{{ course.validation_msg }}" style="color: red"></i>
                                                {% include 'course_name_and_num.html' %}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <input type="hidden" name="waived_courses" value="{{ waived_courses }}">
        <input type="hidden" name="total_elective_credits" value="{{ total_elective_credits }}">
        <input type="hidden" name="current_semester" value="{{ current_semester }}">
        <input type="hidden" id="courses_taken" name="courses_taken" value="{{ courses_taken }}">
        <input type="hidden" name="semesters" value="{{ semesters }}">
        <input type="hidden" name="total_credits" value="{{ total_credits }}">
        <input type="hidden" id="required_courses_dict_list" name="required_courses_dict_list"
            value="{{ required_courses_dict_list }}">
        <input type="hidden" id="required_courses_dict_list_unchanged" name="required_courses_dict_list_unchanged"
            value="{{ required_courses_dict_list_unchanged }}">
        <input type="hidden" id="course_schedule" name="course_schedule" value="{{ course_schedule }}">
        <input type="hidden" name="semester_number" value="{{ semester_number }}">
        <input type="hidden" name="min_3000_course" value="{{ min_3000_course }}">
        <input type="hidden" name="include_summer" value="{{ include_summer }}">
        <input type="hidden" name="certificate_choice" value="{{ certificates }}">
        <input type="hidden" name="num_3000_replaced_by_cert_core" value="{{ num_3000_replaced_by_cert_core }}">
        <input type="hidden" name="cert_elective_courses_still_needed" value="{{ cert_elective_courses_still_needed }}">
        <input type="hidden" name="TOTAL_CREDITS_FOR_CERTIFICATE_ELECTIVES"
            value="{{ TOTAL_CREDITS_FOR_CERTIFICATE_ELECTIVES }}">
        <input type="hidden" name="gen_ed_credits_still_needed" value="{{ gen_ed_credits_still_needed }}">
        <input type="hidden" name="minimum_summer_credits" value="{{ minimum_summer_credits }}">
        <input type="hidden" name="first_semester" value="{{ first_semester }}">
        <input type="hidden" name="semester_years" value="{{ semester_years }}">
        <input type="hidden" name="saved_minimum_credits_selection" value="{{ saved_minimum_credits_selection }}">
        <input type="hidden" id="course_prereqs_for" name="course_prereqs_for" value="{{ course_prereqs_for }}">
        <input type="hidden" name="user_name" value = "{{ user_name }}">
        <input type="hidden" name="fe_taken" value = "{{ fe_taken }}">
        <input type="hidden" name="ge_taken" value = "{{ ge_taken }}">
        <input type="hidden" name="degree_choice" value = "{{ degree_choice }}">
        <input type = "hidden" name = "required_courses_tuple" value = "{{ required_courses_tuple }}">
        <input type="hidden" name="is_graduated" value = "{{ is_graduated }}">
        <input type="hidden" id="render_info" name="render_info" value = "{{ render_info }}">
        <input type="hidden" id="is_upload" name="is_upload" value = "{{ is_upload }}">
    </form>
</html>